<h1> MoBees </h1>

<% if user_signed_in? %>
    <h2>Bienvenid@ <%= current_user.name %></h2>
<% end %>

<br>
<h4>Sientete libre de explorar nuestro amplio catálogo de películas y realizar la <b>Reserva</b> de las que más estés esperando por ver. Deberas esperar a que nuestros comprometidos moderadores hagan la revisión de tu solicitud y ya estarás list@ para poder retirar la película en la fecha acordada. </h4>
<br>
<h4>Te invitamos a contribuir en esta comunidad al incluir tu <b>Review</b> tras haber hecho una reserva y por su puesto haber disfrutado de la película. Con  tu aporte más personas podrán atraverse a explorar nuevas ofertas de películas a través de su nueva aplicación de reserva de películas favorita y de confianza.</h4>
<br>
<h4>Para poder acceder a todas las funcionalidades mencionadas anteriormente es necesario ingresar con una cuenta, así que te invitamos a que si no tienes una cuenta ya crees tu cuenta lo más pronto posible y accede a esta gran experiencia que es <b>Mobees</b>.</h4>